*.pyc
*.pyo
*.pyd
__pycache__
*.pyd
*.db
*.sqlite
pyspark-*.jar
.ipynb_checkpoints
*.log
docker-compose.override.yml
Dockerfile.*
spark-warehouse/
metastore_db/
delta_log/
*.tar.gz
*.zip
.minio/
dataflint_logs/
.vscode/
*.env
*.bak
*.swp
*.swo
